<footer>
    <div class="container">
        <img src="../../../assets/Images/APLogo-20-20.png" class="logo-brand" height="90px" alt="logo">
        <ul class="list-inline">
            <li class="list-inline-item footer-menu"><a href="#">Home</a></li>
            <li class="list-inline-item footer-menu"><a href="#">Acerca De</a></li>
            <li class="list-inline-item footer-menu"><a href="#">Experiencia</a></li>
            <li class="list-inline-item footer-menu"><a href="#">Educacion</a></li>
            <li class="list-inline-item footer-menu"><a href="#">Skills</a></li>
            <li class="list-inline-item footer-menu"><a href="#">Proyectos</a></li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
            <li class="list-inline-item"><a href="#"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
            <li class="list-inline-item"><a href="#"><fa-icon [icon]="faGithub"></fa-icon></a></li>
            <li class="list-inline-item"><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
        </ul>
        <small>©2022 All Rights Reserved. Created by <a href="https://themesbootstrap.com.mx/" class="font-weight-bold" target="_blank"
                rel="noopener"></a></small>
    </div>
  </footer>
