<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="../../../assets/Images/marle.jpg" class="border border-3 border-dark rounded-circle">
                <h5>{{nombre}} <br>{{cargo}}<fa-icon [icon]="faPen"></fa-icon></h5>
            </div>
            <div class="col-md-8">
                <h2 class="heading">Acerca de <fa-icon [icon]="faPen"></fa-icon></h2>
                <p>
                    Ingeniero Industrial con más de 10 años de experiencia en Planificación, Control de Gestión y Auditoría en la industria siderúrgica con énfasis en los procesos inherentes a Supply Chain-Logística (embalaje, control de inventario, despacho) y amplias fortalezas en Sistemas de Gestión de la Calidad. Soy una gran apasionada por los sistemas de información y generación de reportes, dashboards y poseo la habilidad para el aprendizaje ágil. Adicionalmente tengo experiencia en la industria forestal en el área de contraloría. #planificación #controldegestion #mejoracontinua #contraloria #auditoria #logistica marlene.torrealbaf@gmail.com
                </p>
        </div>
    </div>
</div>