<div id="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Proyectos </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laborum voluptas libero! Eligendi quisquam ab omnis doloribus quae quia sint nemo! Earum iure eligendi, inventore quidem perspiciatis eos esse labore.</p>
            </div>
            <div class="container-center">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h6>Lista de Tareas</h6>
                        <img src="../../../assets/Images/Isabel.jpg" class="d-block w-100" alt="Isabel">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/Images/Lucia.jpg" class="d-block w-100" alt="Lucia">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/Images/Natalia.jpg" class="d-block w-100" alt="Natalia">
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>