<div id="experiencia">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Experiencia </h2>
            </div>
            <div class="col-md-8">
                <div id="experience-timeline">
                    <div data-date="September 2015 – September 2016">
                        <h3>Employer Name</h3>
                        <h4>Job Title</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                        </p>
                    </div>

                    <div data-date="September 2015 – September 2016">
                        <h3>Employer Name</h3>
                        <h4>Job Title</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                        </p>
                    </div>

                    <div data-date="September 2015 – September 2016">
                        <h3>Employer Name</h3>
                        <h4>Job Title</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>