<div id="skills">
    <div class="container">
        <h2> Hard & Soft Skills</h2>
        <div class="container text-center">
            <div class="row">
                <div class="col">JavaScript
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                        </div>
                    </div>
                    <fa-icon [icon]="faPen"></fa-icon>
                    <fa-icon [icon]="faTrash"></fa-icon> 
                </div>
                <div class="col">Angular
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                        </div>
                    </div> 
                    <fa-icon [icon]="faPen"></fa-icon>
                    <fa-icon [icon]="faTrash"></fa-icon>
                </div>
                <div class="col">Java
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        </div>
                    </div> 
                    <fa-icon [icon]="faPen"></fa-icon>
                    <fa-icon [icon]="faTrash"></fa-icon>
                </div>
            </div>
            <div class="row">
                <div class="col">Trabajo en Equipo
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                    <fa-icon [icon]="faPen"></fa-icon>
                    <fa-icon [icon]="faTrash"></fa-icon>
                </div>
                <div class="col">Autodidacta
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div> 
                    <fa-icon [icon]="faPen"></fa-icon>
                    <fa-icon [icon]="faTrash"></fa-icon>
                </div>
                <div class="col">Proactiva
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div> 
                    <fa-icon [icon]="faPen"></fa-icon>
                    <fa-icon [icon]="faTrash"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>