<div id="header">
      <div class="px-3 py-2 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <img src="../../../assets/Images/APLogo-20-20.png" class="logo" height="90px" alt="LogoAP">
            </div>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-white">
                <fa-icon 
                [icon]="faHome">
                </fa-icon>
                Home
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/marletorre/" class="nav-link text-white">
                <fa-icon 
                [icon]="faInstagram">
                </fa-icon>
                Instagram
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/marlenejosetorrealba/" class="nav-link text-white">
                <fa-icon 
                [icon]="faLinkedin">
                </fa-icon>
                LinkedIn
              </a>
            </li>
            <li>
              <a href="https://github.com/marletorre" class="nav-link text-white">
                  <fa-icon 
                  [icon]="faGithub" >
                  </fa-icon>
                Github
              </a>
            <li>
              <div>
                  <button type="button" class="btn btn-outline-warning">Login</button>
              </div>
            </li>
            </ul>
        </div>
      </div>
    </div>
<app-banner></app-banner>
  </div>