/* You can add global styles to this file, and also import other style files */
#banner {
    background-image: url(../src/assets/Images/cambio.jpg);
    background-size:contain;
}

#about, #education, #projects {
    background-color: antiquewhite;
    padding: 14px 15px;
}

#experiencia,#skills {
    background-color: darkgrey;
    padding: 30px 30px;
}

.container-center {
    max-width: 400px;
}
fa-icon {
    font-size: 14px;
}
